// app global css
.fix-top {
  margin-top: 11px;
}
.mt-4 {
  margin-top: 4px;
}
.fix-padding-top {
  padding-top: 8px;
}
.fix-padding-top-table {
  padding-top: 4px;
}
.hover-show {
  visibility: hidden
}
.hover-show-parent:hover > .hover-show{
  visibility: visible;
}