// app global css
.fix-top {
  margin-top: 11px;
}
.mt-4 {
  margin-top: 4px;
}
.fix-padding-top {
  padding-top: 8px;
}
.fix-padding-top-table {
  padding-top: 4px;
}
.change-type, .link-symbol {
  visibility: hidden
}
.hover-show-parent:hover > .change-type, .hover-show-parent:hover > .link-symbol{
  visibility: visible;
}